.hmenu__gunshop__navpanel {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 28%;
    background: #121214;
    border-radius: 2px 0 0 2px;
}

.hmenu__gunshop__navpanel__exitbtn {
    font-family: 'Montserrat';
    text-align: center;
    font-size: 2rem;
    letter-spacing: 0.1rem;
    cursor: pointer;
    padding: 10%;
}

.hmenu__gunshop__navpanel__list {
    display: flex;
    flex-direction: column;
    margin-bottom: auto;
    overflow-x: auto;
}

.hmenu__gunshop__navpanel__list__item {
    cursor: pointer;
    padding-top: 5%;
    padding-bottom: 5%;
    width: 100%;
    text-align: center;
    font-family: 'Montserrat';
    font-size: 1.3rem;
    letter-spacing: 0.05rem;
    border-radius: 2px;
}

.hmenu__gunshop__navpanel__list__item_active {
    cursor: pointer;
    padding-top: 5%;
    padding-bottom: 5%;
    background-color: #FF0B0B;
    width: 100%;
    text-align: center;
    font-family: 'Montserrat';
    font-weight: bold;
    font-size: 1.3rem;
    letter-spacing: 0.05rem;
    box-shadow: 0px 0px 4px #FF0B0B;
}

.hmenu__gunshop__navpanel__banner {
    height: 15%;
    padding: 20%;
    width: auto;
}