.donate-menu-box * {
  margin        : 0;
  padding       : 0;
  font-family   : Inter;
  font-style    : normal;
  user-select   : none;
  outline       : none;
  color         : white;
  text-transform: uppercase;
}

.donate-menu-box {
  width             : 1350px;
  height            : 900px;
  position          : absolute;
  top               : 50%;
  left              : 50%;
  transform         : translate(-50%, -50%);
  /* background     : url('../../img/bg.png') no-repeat; */
  color             : white;
  border-radius     : 3px;
}

.donate-menu-box .donate-menu-container {
  width        : 100%;
  height       : 100%;
  background   : linear-gradient(246.85deg, rgba(0, 0, 0, 0.2) 0%, rgba(52, 82, 126, 0.146635) 43.23%, rgba(0, 0, 0, 0.106) 100%), #17181B;
  border-radius: 3px;
  position     : relative;
  border-radius: 3px;
}

.donate-menu-box .donate-menu-container .container {
  width   : 100%;
  height  : 86%;
  position: relative;

  margin-top: 25px;
}

.donate-menu-box .donate-menu-container .donate-menu-navbar {
  width         : 100%;
  height        : 100px;
  background    : #242932;
  border-radius : 3px;
  display       : flex;
  flex-direction: row;
  align-items   : center;
}

.donate-menu-box .donate-menu-container .donate-menu-navbar .navbar-container {
  width          : 100%;
  display        : flex;
  flex-direction : row;
  justify-content: space-between;
  align-items    : center;
  margin         : 0 40px;
}

.donate-menu-box .donate-menu-container .donate-menu-navbar .navbar-container .logo-container {
  width          : 120px;
  height         : 40px;
  display        : flex;
  flex-direction : row;
  justify-content: space-between;
  align-items    : center;
}

.donate-menu-box .donate-menu-container .donate-menu-navbar .navbar-container .logo-container .title {

  font-style : normal;
  font-weight: 600;
  font-size  : 16px;
  line-height: 19px;
}

.donate-menu-box .donate-menu-container .donate-menu-navbar .navbar-container .logo-container .subtitle {

  font-style : normal;
  font-weight: normal;
  font-size  : 14px;
  line-height: 17px;
  color      : #434D60;
}

.donate-menu-box .donate-menu-container .donate-menu-navbar .navbar-container .buttons {
  width          : 50%;
  display        : flex;
  flex-direction : row;
  align-items    : center;
  justify-content: space-between;
}

.donate-menu-box .donate-menu-container .donate-menu-navbar .navbar-container .info {
  width          : 15%;
  display        : flex;
  flex-direction : row;
  justify-content: space-between;
  align-items    : center;
}

.donate-menu-box .donate-menu-container .donate-menu-navbar .navbar-container .info .balance-container {
  width: 100px;

  display        : flex;
  flex-direction : row;
  justify-content: space-between;
  align-items    : center;
}

.donate-menu-box .donate-menu-container .donate-menu-navbar .navbar-container .info .balance-container .text {
  display       : flex;
  flex-direction: column-reverse;
  align-items   : flex-end;
}

.donate-menu-box .donate-menu-container .donate-menu-navbar .navbar-container .info .balance-container .text .title {
  font-style : normal;
  font-weight: 600;
  font-size  : 18px;
  line-height: 22px;
  color      : #FFFFFF;
}

.donate-menu-box .donate-menu-container .donate-menu-navbar .navbar-container .info .balance-container .text .subtitle {
  font-style : normal;
  font-weight: 300;
  font-size  : 12px;
  line-height: 15px;
  color      : #434D60;
}

.donate-menu-box .donate-menu-container .donate-menu-navbar .navbar-container .info .close-button {
  cursor: pointer;
}

.car-about {
  width          : 100%;
  height         : 100%;
  background     : rgba(17, 21, 24, 0.89);
  backdrop-filter: blur(8px);
  z-index        : 1;

  margin        : 0;
  padding       : 0;
  font-family   : Inter;
  font-style    : normal;
  user-select   : none;
  outline       : none;
  color         : white;
  text-transform: uppercase;
}

.car-about .car-about-container {
  width        : 797px;
  height       : 439px;
  position     : absolute;
  top          : 50%;
  left         : 50%;
  transform    : translate(-50%, -50%);
  background   : linear-gradient(246.85deg, rgba(0, 0, 0, 0.2) 0%, rgba(52, 82, 126, 0.146635) 43.23%, rgba(0, 0, 0, 0.106) 100%), #17181B;
  border-radius: 6px;

  display        : flex;
  flex-direction : column;
  justify-content: space-between;
}

.car-about .car-about-container .about-header {
  margin-top: 45px;
  width     : 100%;

  display        : flex;
  flex-direction : row;
  align-items    : center;
  justify-content: space-between;
}

.car-about .car-about-container .about-header .image img {
  max-width : 465px;
  max-height: 281px;
  width     : 465px;
}


.car-about .car-about-container .about-header .text-container {
  width          : 40%;
  display        : flex;
  flex-direction : column;
  justify-content: space-between;
}

.car-about .car-about-container .about-header .text-container .info-header {
  display        : flex;
  flex-direction : row;
  justify-content: space-between;
  align-items    : center;

  margin-bottom: 20px;
}

.car-about .car-about-container .about-header .text-container .info-header .text .title {
  font-style : normal;
  font-weight: 600;
  font-size  : 16px;
  line-height: 19px;
  color      : #FFFFFF;
}

.car-about .car-about-container .about-header .text-container .info-header .text .subtitle {
  font-style : normal;
  font-weight: normal;
  font-size  : 14px;
  line-height: 17px;
  color      : #505A6C;
}

.car-about .car-about-container .about-header .text-container .info-header .price-container {
  margin-right  : 10px;
  display       : flex;
  flex-direction: row;
  align-items   : center;
}


.car-about .car-about-container .about-header .text-container .info-header .price-container .text {
  font-style  : normal;
  font-weight : normal;
  font-size   : 18px;
  line-height : 22px;
  color       : #505A6C;
  margin-right: 5px;
}

.car-about .car-about-container .about-header .text-container .info-header .price-container .price {
  font-style  : normal;
  font-weight : 600;
  font-size   : 18px;
  line-height : 22px;
  margin-right: 10px;
}

.car-about .car-about-container .about-header .text-container .title-info {
  text-transform: none;
  font-style    : normal;
  font-weight   : normal;
  font-size     : 14px;
  line-height   : 17px;
  color         : #505A6C;
  margin-bottom : 10px;
}

.car-about .car-about-container .about-header .text-container .info-container {
  text-transform : none;
  display        : flex;
  flex-direction : row;
  justify-content: space-between;
}


.car-about .car-about-container .about-header .text-container .info-container .left-container {
  font-style : normal;
  font-weight: normal;
  font-size  : 16px;
  line-height: 19px;

  color: #FFFFFF;
}

.car-about .car-about-container .about-header .text-container .info-container .left-container div {
  height: 30px;
}

.car-about .car-about-container .about-header .text-container .info-container .right-container {
  font-style : normal;
  font-weight: 600;
  font-size  : 16px;
  line-height: 19px;

  color       : #0085FF;
  margin-right: 10px;
}

.car-about .car-about-container .about-header .text-container .info-container .right-container div {
  height: 30px;
}

.car-about .car-about-container .about-buttons {
  display        : flex;
  flex-direction : row;
  justify-content: space-between;
}

.car-about .car-about-container .about-buttons .cancel-button {
  width : 100px;
  height: 50px;

  margin-left  : 50px;
  margin-bottom: 20px;

  display        : flex;
  flex-direction : row;
  justify-content: center;
  align-items    : center;

  background   : #FE3C3C;
  border-radius: 3px;
  cursor: pointer;
}

.car-about .car-about-container .about-buttons .buy-button {
  width : 170px;
  height: 50px;

  margin-right : 35px;
  margin-bottom: 20px;

  display        : flex;
  flex-direction : row;
  justify-content: space-between;
  align-items    : center;
  background     : #0085FF;
  border-radius  : 3px;
  cursor: pointer;
}

.car-about .car-about-container .about-buttons .buy-button .text {

  margin: 15px;

  font-style : normal;
  font-weight: normal;
  font-size  : 14px;
  line-height: 17px;
  color: #FFFFFF;
}

.car-about .car-about-container .about-buttons .buy-button img {
  margin-right: 15px;
}
