.main-container {
  width : 90%;
  height: 100%;

  position: relative;

  display        : flex;
  flex-direction : row;
  justify-content: space-between;
}

.main-container .left-container {
  margin-left: 70px;
}

.main-container .left-container .container,
.main-container .right-container .container {
  width          : 400px;
  height         : 450px;
  display        : flex;
  flex-direction : column;
  justify-content: space-between;
  align-items    : center;
}

.main-container .left-container .container .pay-form,
.main-container .right-container .container .pay-form {
  width        : 400px;
  margin-bottom: 40px;
}

.main-container .left-container .container .text,
.main-container .right-container .container .text {
  width          : 300px;
  height         : 80px;
  display        : flex;
  flex-direction : column;
  justify-content: space-between;
  margin-bottom  : 20px;
}

.main-container .left-container .container .text .title,
.main-container .right-container .container .text .title {
  font-style    : normal;
  text-transform: none;
  font-weight   : 600;
  font-size     : 20px;
  line-height   : 136.8%;
  color         : #DADADA;
}

.main-container .left-container .container .text .subtitle,
.main-container .right-container .container .text .subtitle {
  text-transform: none;
  font-style    : normal;
  font-weight   : normal;
  font-size     : 12px;
  line-height   : 15px;

  color: #454F60;
}

.main-container .left-container .container .inputs,
.main-container .right-container .container .inputs {
  height         : 200px;
  display        : flex;
  flex-direction : column;
  align-items    : center;
  justify-content: space-between;
}

.main-container .left-container .container .inputs input,
.main-container .right-container .container .inputs input {
  width         : 380px;
  padding-left  : 20px;
  height        : 75px;
  background    : #242835;
  border-radius : 5px;
  border        : none;
  text-transform: none;
}

.main-container .left-container .container .inputs input::placeholder,
.main-container .right-container .container .inputs input::placeholder {

  text-transform: none;
  font-style    : normal;
  font-weight   : normal;
  font-size     : 15px;
  line-height   : 136.8%;
  color         : #4B5269;
}

.main-container .left-container .container .bottom,
.main-container .right-container .container .bottom {
  height        : 150px;
  display       : flex;
  flex-direction: column;
  margin-top    : 15px;
}

.main-container .left-container .container .bottom .text {
  width          : fit-content;
  height         : fit-content;
  display        : flex;
  flex-direction : row;
  justify-content: space-between;
  font-style     : normal;
  font-weight    : 600;
  font-size      : 14px;
  line-height    : 17px;

  color: #FFFFFF;
}

.main-container .left-container .container .bottom .text p {
  margin-left: 5px;
  font-style : normal;
  font-weight: 600;
  font-size  : 14px;
  line-height: 17px;

  color: #FFFFFF;
}

.main-container .left-container .container .bottom .text span {
  color      : #0085FF;
  margin-left: 5px;

  font-style : normal;
  font-weight: 600;
  font-size  : 14px;
  line-height: 17px;
}

.main-container .left-container .container .bottom .button,
.main-container .right-container .container .bottom .button {
  width          : 400px;
  height         : 70px;
  background     : #0085FF;
  border-radius  : 5px;
  display        : flex;
  flex-direction : row;
  justify-content: center;
  align-items    : center;
  font-style     : normal;
  font-weight    : 600;
  font-size      : 16px;
  line-height    : 20px;
  text-transform : uppercase;
  color          : #FFFFFF;
}

.main-container .right-container .container .bottom .button{
  margin-top: 35px;
}

.main-container .left-container .bonus-container {
  height         : 200px;
  width          : 400px;
  display        : flex;
  flex-direction : column;
  justify-content: space-between;
}

.main-container .left-container .bonus-container .title {
  font-style : normal;
  font-weight: normal;
  font-size  : 12px;
  line-height: 15px;

  color: #343A4E;
}

.main-container .left-container .bonus-container .bonus-box {
  display        : flex;
  flex-direction : row;
  flex-wrap      : wrap;
  justify-content: space-between;
}

.main-container .left-container .bonus-container .bonus {
  width          : 150px;
  display        : flex;
  flex-direction : row;
  justify-content: flex-start;
  align-items    : center;

  margin-bottom: 10px;
}

.main-container .left-container .bonus-container .bonus .plus-container {
  width          : 40px;
  height         : 40px;
  display        : flex;
  align-items    : center;
  justify-content: center;
  border-radius  : 50%;
  background     : #0085FF;

  font-weight: 600;
  font-size  : 12px;
  line-height: 15px;

  color: #FFFFFF;

  text-align: center;
}

.main-container .left-container .bonus-container .bonus .text {
  margin-left: 10px;
  font-style : normal;
  font-weight: 600;
  font-size  : 12px;
  line-height: 15px;
  color      : #FFFFFF;
}