.incomingCall {
    width: 100%;
    height: 100%;
    pointer-events: all;
    position: relative;
    background: rgba(91, 91, 91, 0.63);
    backdrop-filter: blur(38px);
    border-radius: 47px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.incomingCall .number {
    position: absolute;
    top: 107px;
    font-size: 25px;
    line-height: 30px;
    color: #FFFFFF;
}

.incomingCall .btns {
    position: absolute;
    top: 557px;
    width: 286px;
    height: 183px;
    background: chocolate;
}